//Colours

    //Background colours
    $bg-color-light
    $bg-color-light2
    $bg-color-dark
    $bg-color-highlight
    //Text colours
    $color-light
    $color-light2
    $color-dark
    $color-highlight
    //$color-highlight2

//Typography

    //font-weight
    $light:100;
    $regular:400;
    $bold:700;

    //font-size


//Padding & Layout
