//Colours
    //Background colours
        $bg-color-light:#fff;
        $bg-color-light2:#000;
        $bg-color-dark:#455563;
        $bg-color-highlight:#5a6a8a;
    //Text colours
        $color-light:#fff;
        $color-light2:#fff;
        $color-dark:#fff;
        $color-highlight:white;
        //$color-highlight2:#fff;

//Padding & Layout
