nav{
  height: 80px; // media query 768px
  position: fixed;
  top: 0;
  transition: border-color 200ms ease-in-out,transform 0.3s cubic-bezier(0.35, -0.25, 0.35, 0);
  background-color: $bg-color-light;
  width: 100%;
  z-index: 100;
  border-bottom: solid 1px transparent;
  border-bottom-color: $bg-color-light2;
  display: block;
  > section{
    max-width: 1020px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    a.logo{
        position: relative;
        top: 21px;
        float: left;
        svg.brand-logo{
            display: inline;
            height: 35px;
            width: 158px;
        }
    }
    div.mobile-nav{
        margin-top: 16px;
        height: 20px;
        float: right;
        a.mobile-menu-btn{
            width: 25px;
            height: 20px;
            span.menu{
                position: relative;
                top: 8px;
                background-color: $bg-color-dark;
                width: 25px;
                height: 3px;
                display: block;
                border-radius: 5px;
                transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
                    &:before{
                        top: -7px;
                        content: '';
                        position: absolute;
                        left: 0;
                        background-color: $bg-color-dark;
                        width: 25px;
                        height: 3px;
                        display: block;
                        border-radius: 5px;
                        transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
                    }
                    &:after{
                        bottom: -7px;
                        content: '';
                        position: absolute;
                        left: 0;
                        background-color: $bg-color-dark;
                        width: 25px;
                        height: 3px;
                        display: block;
                        border-radius: 5px;
                        transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
                    }
                }
            }
    }
    ul.nav-list{
      float: right;
      margin-top: 28px;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      li{
          float: left;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          margin-left: 40px;
      }
    }
  }
}
